[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
deploy = "python -m aws.stack"

[dev-packages]
aws-cdk-core = "*"
aws-cdk-aws-lambda = "*"
aws-cdk-aws-s3 = "*"
aws-cdk-aws-iam = "*"
aws-cdk-aws-lambda-event-sources = "*"
aws-cdk-aws-events-targets = "*"
aws-cdk-aws-stepfunctions-tasks = "*"
aws-cdk-aws-ecs = "*"

[packages]
python-dotenv = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
tqdm = "*"
numpy = "*"
prettytable = "*"
aws-cdk-aws-ecs-patterns = "*"
flask = "*"

[requires]
python_version = "3.7"
