[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
scrape_pipeline = "python -m src.jobs.scrape.local_scrape_pipeline"
scout_trades = "python -m src.jobs.scout_trades.main"

[dev-packages]

[packages]
python-dotenv = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
tqdm = "*"
numpy = "*"
prettytable = "*"

[requires]
python_version = "3.7"
